/* CSS HEX */
:root {
    --lavender-blush: #FEF1FDff;
    --lavender-pink: #FBB5DEff;
    --scarlet: #F93D20ff;
    --scarlet-light: #e63946;
    --red-violet: #D70097ff;
    --dark-violet: #A801D7ff;
    --dark-green: #2a9d8f;
    --dark-yellow: #b68764;
    --scarlet-soft: #773d3d;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--lavender-blush);
}

.App-link {
    color: var(--dark-violet);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a:-webkit-any-link {
    color: var(--red-violet);
    cursor: pointer;
    text-decoration: underline;
}

.react-quiz-container {
    margin: auto !important;;
}

.btnSummaryOptionNewQuestions, .btnSummaryOptionNewJson {
    width: auto;
    margin: 128px auto 128px 24px;
    border-radius: 4px;
    font-size: 15px;
    white-space: normal;
    text-align: unset;
    font-weight: 600;
    padding: 11px 12px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    /*background-image: none;*/
    border: 1px solid transparent;
    -webkit-user-select: none;
    color: white;
    user-select: none;
}
.btnSummaryOptionNewQuestions {
 background-color: #3d405b;
}
.btnSummaryOptionNewJson {
    background-color: #3d405b;
}
.summaryOptions {
    width: 200px;
    margin: 0 auto;
    display: inline;
}

.react-quiz-container .incorrect {
    background: var(--scarlet) !important;
    color: white;
}
.react-quiz-container .questionWrapper .btn.correct {
    background: var(--dark-green) !important;
    color: white;
}
.react-quiz-container .selection-tag.multiple {
    background: #a8dadc !important;
    display: none !important;
}
.react-quiz-container .selection-tag.single {
    background: #a8dadc !important;
    display: none !important;
}
.react-quiz-container .number-of-selection {
    background: #457b9d !important;
}
.react-quiz-container .selection-tag.segment {
    background: #1d3557 !important;
}